.Message{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    display: flex;
    
}
.sar_11{
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    display: inline-block;
    background-color: hsl(0, 0%, 0%);
    
    max-width: 400px;
}
.text{
    /* color: white; */
    display: inline-block;
    padding-right: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.time{
    display: flex;
    justify-content: flex-end;
    color: #a7aec4;
    width: auto;
    font-size: x-small;
    align-items: flex-end;
}