.Display{
    color: #fff;
    font-size: 1rem;
    text-align: center;
    border-bottom: 2px solid #0f1a61;
}
.Display .Heading{
    padding: 10px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    color: #1E2933;
}
.Profile .Image{
    margin: auto;
    height: 120px;
    width: 120px;
    background-size: cover;
    border-radius: 50%;
}
.Name{
    padding: 10px 0;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1E2933;
}
.Place{
    padding: 0 0 5px 0;
    color: #aab4be;
}